---

---

@charset "utf-8";

// Agency brand colors
$primary: {{- site.colors.primary-color -}};
$primary-hover: darken($primary, 10%);
$secondary: {{- site.colors.secondary-color -}};
$secondary-hover: darken($secondary, 10%);

$indigo: #322987;
$sky: #cff2e8;
$mint: #dce5d3;
$jade: #00b794;
$pink: #ffbac7;
$ruby: #a60517;
$orange: #ffc9ad;
$tangerine: #fe5828;

$indigo-hover: darken($indigo, 10%);
$sky-hover: darken($sky, 10%);
$mint-hover: darken($mint, 10%);
$jade-hover: darken($jade, 10%);
$pink-hover: darken($pink, 10%);
$ruby-hover: darken($ruby, 10%);
$orange-hover: darken($orange, 10%);
$tangerine-hover: darken($tangerine, 10%);

$white: #ffffff;
$black: #000000;
$black-10: mix($black, $white, 10%);
$black-20: mix($black, $white, 20%);
$black-30: mix($black, $white, 30%);
$black-40: mix($black, $white, 40%);
$black-50: mix($black, $white, 50%);
$black-60: mix($black, $white, 60%);
$black-70: mix($black, $white, 70%);
$black-80: mix($black, $white, 80%);
$black-90: mix($black, $white, 90%);



{%- for media-color in site.colors.media-colors -%}
  ${{- media-color.title -}}: {{- media-color.color -}};
{%- endfor -%}

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

// Mixins

@mixin touch() {
	@media screen and (max-width: $desktop - 1px){
    	@content
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop){
    	@content
	}
}

// Background
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
    {%- for media-color in site.colors.media-colors -%}
      &-{{- forloop.index -}} {
        background-color: ${{- media-color.title -}};
        &:hover {
          background-color: darken(${{- media-color.title -}}, 10%);
        }
      }
    {%- endfor -%}
  }
  &-1{
    //background-color: $primary;
    background: url('https://c.stocksy.com/a/YY3500/z0/1205314.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2{
    //background-color: $info;
    background: url('https://c.stocksy.com/a/FY3500/z0/1205295.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3{
    //background-color: $warning;
    background: url('https://c.stocksy.com/a/L1o500/z0/1383923.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4{
    //background-color: $danger;
    background: url('https://c.stocksy.com/a/Z22000/z0/7847.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-singpass{
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #be2e7d 0%, #d64e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline{
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(45deg, #009d62 0%, #0094d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &-parkingsg{
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0164b6 0%, #04a4e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
	&-primary {
		background-color: $primary !important;
	}

  &-secondary {
		background-color: $secondary !important;
	}

  &-indigo {
		background-color: $indigo !important;
	}

  &-sky {
		background-color: $sky !important;
	}

  &-mint {
		background-color: $mint !important;
	}

  &-jade {
		background-color: $jade !important;
	}

  &-pink {
		background-color: $pink !important;
	}

  &-ruby {
		background-color: $ruby !important;
	}

  &-orange {
		background-color: $orange !important;
	}
  
  &-tangerine {
		background-color: $tangerine !important;
	}
}

// Text color
.has-text { 
  
  &-primary {
    color: $primary !important;
  }

  &-secondary {
    color: $secondary !important;
  }

  &-indigo {
    color: $indigo !important;
  }

  &-sky {
    color: $sky !important;
  }

  &-mint {
    color: $mint !important;
  }

  &-jade {
    color: $jade !important;
  }

  &-pink {
    color: $pink !important;
  }

  &-ruby {
    color: $ruby !important;
  }

  &-orange {
    color: $orange !important;
  }

  &-tangerine {
    color: $tangerine !important;
  }
}

// Divider
.hr {
  background-color: $black-50;
}

// Menu/Left-nav
.bp-menu-list a.is-active {
	color: $primary !important;
	border-bottom: 2px solid $primary !important;
	&:hover {
		border-bottom: 2px solid $primary !important;
	}
}
.bp-menu-list a:hover {
	color: $primary !important;
	border-bottom: 1px solid $primary !important;
}

// Button
.bp-button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.is-primary-outline {
    border: 1px solid $primary;
    color: $primary;
    background-color: $white;
    text-decoration: none;

    &:focus, &:hover {
      border: 1px solid $primary;
      color: $white;
      background-color: $primary;
      text-decoration: none;
    }
  }
}

.bp-button.is-text span {
  &:hover, &:focus {
    color: $primary;
  }
}
.bp-button:hover {
  color: $primary;
}

// Primary button



// Secondary button
.bp-sec-button {
	color: $secondary;
	& span {
		border-bottom: 2px solid $secondary !important;
	}
	&:hover {
		& span {
	    	border-bottom: 2px solid $secondary-hover !important;
	    	color: $secondary-hover !important;
	  	}
	  	& i {
	    	color: $secondary-hover !important;
	  	}
	}

  &.btn-primary {
    color: $primary;
    & span {
      border-color: $primary !important;
    }
    &:hover {
      & span {
          border-color: $primary-hover !important;
          color: $primary-hover !important;
        }
        & i {
          color: $primary-hover !important;
        }
    }
  }

  &.btn-sky {
    color: $sky;
    & span {
      border-color: $sky !important;
    }
    &:hover {
      & span {
          border-color: $sky-hover !important;
          color: $sky-hover !important;
        }
        & i {
          color: $sky-hover !important;
        }
    }
  }
}

// Bottom navigation bar
.bottom-navigation {
	a {
		background-color: $primary;
	    &:hover{
	      background-color: $primary-hover !important;
	    }
	}
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}

// Pagination
.pagination {
	span {
		&:hover {
            border-color: $primary;
            color: $primary;
		}
        &.selected-page:hover {
            background-color: $primary;
            border-color: $primary;
        }
	}
    .selected-page {
        background-color: $primary;
        border-color: $primary;
    }
}

// Homepage
.bg-hero {
  background: url('{{site.baseurl}}/images/masthead-icons-1366x507-1.gif') no-repeat center top;
  -webkit-background-size: contain;
  background-color: #322987;
  background-position: center;
  background-size: contain;
}

.bp-hero-body {
    background-color: transparent;
}

.logo-nyp-white {
  max-width: 340px;
}

#key-highlights{
	background-color: $primary;
	.col {
		border-left: 1px solid $primary-hover;
		@include touch(){
			border-top:1px solid $primary-hover;
		}
		&:hover{
			background-color: $primary-hover;
		}
	}
}

// Navbar
.navbar{
  background-color: $primary;
  border-bottom: none;

  &-start{
    margin: 0 auto;
    padding-bottom: 1rem;
    border-bottom: none;
    
    .navbar-item{
      a {
        color: $sky;

        &:focus, &:hover {
          color: $white;
        }

        &.active {
          @include touch() {
            border-bottom: 2px solid $white;
          }
        }
      }
    }
  }

  .navbar-link {

    &:after {
      border-color: $sky;
    }
  }

  .navbar-link:hover:after {
    border-bottom: 1px solid $white;
    border-left: 1px solid $white;
  }

  .navbar-item {

    .sub-link.is-active{
      color:$white;
    }

    .selector{
      &.active{
        background-color:$white;
      }
    }

    &.is-search-bar {
      border-top: none;
      padding: 0.5rem 0.75rem;
    }

    &.active{
      @include desktop(){
        border-bottom:1px solid $white;
      }
    }

    span {
      color: $sky !important;

      &:focus, &:hover {
        color: $white !important;
      }
    }

    &:hover {

      a {
        
        background-color: transparent;

        @include touch {
          color: $sky;
        }

        /* &.sub-link {
          color: $white;
          background-color: transparent;
        } */
      }

      .selector {
        background-color:$white;
      }
    }
  }
}


// Post-content
.content {
	h1, h2, h3, h4, h5 {
		color: $primary;
		strong {
			color: $primary;
		}
	}
	blockquote {
		border-left-color: $primary;
	}
	blockquote > p {
		color: $primary;
	}
	blockquote > ul {
		color: $primary;
	}

  a {
    color: $primary;
    font-weight: bold;

    &:focus, &:hover {
      color: $primary-hover;
    }
  }
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover, .media-category-button.selected {
  color: $primary;
  border-bottom: 2px solid $primary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

.news-content {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken($white, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}


// Masthead 
.masthead-container {
  box-shadow: none;
}

.bp-section-pagetitle h1.has-text-white {
  color: $sky !important;
}

.bg-secondary h1.has-text-white {
  color: $primary !important;
}

// Hamburger 
.navbar-burger {

  span {
    background-color: $sky;
  }

  &:focus, &:active {
    span {
      background-color: $white;
    }
  }
}

.navbar-menu {
  @include touch {
    background-color: $primary;
  }
}



// Breadcrumbs
.bp-breadcrumb {

  a {
    color: $sky;

    &:focus, &:hover {
      color: $white;
    }
  }

  li+li::before {
    color: $sky;
  }
}

.bg-secondary {
  .bp-breadcrumb {
    a {
      color: $primary;
  
      &:focus, &:hover {
        color: $primary-hover;
      }
    }
  
    li+li::before {
      color: $primary;
    }
  }
}

// Sidebar
.bp-menu-list {

   a {
     color: $black;
    // font-size: 1rem;
    line-height: 1.2;
  }
  
  a.third-level-nav-header i.sgds-icon {
    line-height: 1;
    margin-left: .5rem;
  }

  li:not(:first-child) a {
    border-top: 1px solid $black;
  }
  
  li a.third-level-nav-item {
    padding-left: 0;

    &.has-text-weight-bold {
      color: $primary !important;
    }
  }
}

// Responsive Media Iframe
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  &-container {
    position: relative;
    overflow: hidden;
    width: 100%;

    &.ratio-16by9 {
      padding-top: 56.25%;
    }

    &.ratio-4by3 {
      padding-top: 75%;
    }

    &.ratio-3by2 {
      padding-top: 66.66%;
    }

    &.ratio-1by1 {
      padding-top: 100%;
    }
  }
}

// Clickbox
.clickbox {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: transparent;

  a {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:focus, &:hover {
      text-decoration: none;
    }

    span {
      padding: .5rem;
    }
  }

  &.is-sky-indigo {
    background-color: $sky;
    color: $primary;

    a {
      color: $primary;
    
      &:focus, &:hover {
        background-color: $primary;
        color: $sky;
      }
    }
  }

  &.is-indigo-sky {
    background-color: $primary;
    color: $sky;

    a {
      color: $sky;
    
      &:focus, &:hover {
        background-color: $sky;
        color: $primary;
      }
    }
  }
  
  &.is-mint-jade {
    background-color: $mint;
    color: $jade;

    a {
      color: $jade;
    
      &:focus, &:hover {
        background-color: $jade;
        color: $mint;
      }
    }
  }

  &.is-jade-mint {
    background-color: $jade;
    color: $mint;

    a {
      color: $mint;
    
      &:focus, &:hover {
        background-color: $mint;
        color: $jade;
      }
    }
  }
  
  &.is-pink-ruby {
    background-color: $pink;
    color: $ruby;

    a {
      color: $ruby;
    
      &:focus, &:hover {
        background-color: $ruby;
        color: $pink;
      }
    }
  }

  &.is-ruby-pink {
    background-color: $ruby;
    color: $pink;

    a {
      color: $pink;
    
      &:focus, &:hover {
        background-color: $pink;
        color: $ruby;
      }
    }
  }

  &.is-tangerine-orange {
    background-color: $tangerine;
    color: $orange;

    a {
      color: $orange;
    
      &:focus, &:hover {
        background-color: $orange;
        color: $tangerine;
      }
    }
  }

  &.is-orange-tangerine {
    background-color: $orange;
    color: $tangerine;

    a {
      color: $tangerine;
    
      &:focus, &:hover {
        background-color: $tangerine;
        color: $orange;
      }
    }
  }
  
  &.is-generic {
    background-color: $mint;
    color: $primary;

    a {
      color: $primary;
    
      &:focus, &:hover {
        background-color: $primary;
        color: $mint;
      }
    }
  }
}
