---
layout: skeleton
---
<section class="bp-hero bg-hero">
    <div class="bp-hero-body">
        <div class="bp-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col is-9 has-text-centered has-text-sky">
                    <h1 class="display padding--bottom--lg margin--none">
                        <b class="is-hidden-touch">Welcome to LearnX</b>
                        <b class="is-hidden-desktop">Welcome to LearnX</b>
                    </h1>
                    <p class="is-hidden-mobile padding--bottom--lg has-text-sky">LearnX is an exciting new platform that lets you to dive into topics you’ve always wanted to explore. Whatever your motivation—personal development, being better informed about the world or simply wanting to learn something new—we have something for everyone. Customise your learning journey by making use of our curated content, learning pathways and communities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bp-section">
    <div class="bp-container is-fluid">
        <div class="row">
            <div class="col is-half is-offset-one-quarter has-text-centered padding--top--xl">
                <h2 class="has-text-primary padding--bottom"><b>Learning is a lot more fun when you have like-minded people to share and grow with.</b></h2>
            </div>
        </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom">
        <div class="col is-offset-one-third is-one-third">
            <a href="/communities/overview" class="bp-pri-button">
                <div>
                    <span>Explore communities</span>
                    <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</section>



<!-- <section class="bp-section min2bg padding--top--xl">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <div class="padding--bottom" style="font-size:100%;">
          	<p class="comma">“</p>The Home Team plays a crucial role in keeping Singapore safe and secure. 
		We prepare and train for many scenarios every day, and it is only during actual crises that 
		we will know how prepared, or not prepared, we are, and how well we have trained for the 
		situation. The ongoing COVID-19 crisis is a timely reminder of the importance of training and 
		learning. But even as we tackle the virus and its impact, we must press on with our training 
		and upskilling on other fronts, to ensure that Home Team officers continue to be agile and ever 
		ready for whatever new challenges come our way.<p class="comma" style="text-align:right;">”</p>
		<br><br>
		<div class="name">Mrs Josephine Teo<br> Second Minister for Home Affairs</div>
        </div>
      </div>
      <div class="col is-half" style="padding:0 30%;">
        <img src="/images/2Min Photo.png" alt="Minister Photo">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col col-text istext">
        <div class="padding--bottom" style="font-size:110%;">
          	<p class="comma">“</p>The Home Team plays a crucial role in keeping Singapore safe and secure. 
		We prepare and train for many scenarios every day, and it is only during actual crises that 
		we will know how prepared, or not prepared, we are, and how well we have trained for the 
		situation. The ongoing COVID-19 crisis is a timely reminder of the importance of training and 
		learning. But even as we tackle the virus and its impact, we must press on with our training 
		and upskilling on other fronts, to ensure that Home Team officers continue to be agile and ever 
		ready for whatever new challenges come our way.<p class="comma" style="text-align:right;">”</p>
		<br><br>
		<div class="name">Mrs Josephine Teo<br> Second Minister for Home Affairs</div>
        </div>
      </div>
	  <div class="col ispic">
        <img src="/images/2Min Photo.png" alt="Minister Photo">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only desktop-padding">
      
      <div class="col col-text istext">
        <div class="padding--bottom" style="font-size:130%;">
          	<p class="comma">“</p>The Home Team plays a crucial role in keeping Singapore safe and secure. 
		We prepare and train for many scenarios every day, and it is only during actual crises that 
		we will know how prepared, or not prepared, we are, and how well we have trained for the 
		situation. The ongoing COVID-19 crisis is a timely reminder of the importance of training and 
		learning. But even as we tackle the virus and its impact, we must press on with our training 
		and upskilling on other fronts, to ensure that Home Team officers continue to be agile and ever 
		ready for whatever new challenges come our way.<p class="comma" style="text-align:right;">”</p>
		<br><br>
		<div class="name">Mrs Josephine Teo<br> Second Minister for Home Affairs</div>
        </div>
      </div>
	  <div class="col ispic">
        <img src="/images/2Min Photo.png" alt="Minister Photo">
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="bp-section">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <div class="padding--bottom" style="font-size:90%;">
			<h3 class="blackcolour padding--bottom"><b>Chief Executive's Foreword</b></h3>
			Dear Home Team colleagues and valued partners,
			<br><br>
			On behalf of the Home Team Academy (HTA), I would like to thank you for taking time to view
			our Workplan Seminar 2020 microsite.  
			<br><br>
			The ongoing Coronavirus Disease 2019 (COVID-19) situation has reinforced the need for us to 
			always be prepared in a volatile, uncertain, complex and ambiguous (VUCA) environment. This 
			is where our investment in training, such as in the areas of crisis management, leadership 
			development, incidence responses and operating as one Home Team (HT), are put to the test. In 
			this regard, the HT and HTA have risen well to the challenges. For example, HTA officers, with
			the support of our HT counterparts, have provided strong support for the Whole-of-Government 
			(WOG) efforts to manage the spread of COVID-19 since 30 January 2020. We did the extraordinary 
			by being the first government agency to operate a Government Quarantine Facility, housing for 
			relocated migrant workers and a Dormitory Isolation Facility concurrently within HTA’s premises, 
			while playing our role as the Corporate University of the HT. HTA and the HT will continue to 
			drive Training & Learning (T&L) amid a ‘new normal’.
			
        </div>
		
      </div>
      <div class="col is-half">
        <img src="/images/CE photo.jpg" alt="CE Photo"  style="padding:0 30%;"/>
      </div>
	    <div class="row has-text-centered margin--top padding--bottom">
				<div class="col is-offset-one-third is-one-third">
					<a href="/CE_Address" class="blackcolour bp-sec-button">
						<div>
							<span>Read More</span>
							<i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
						</div>
					</a>
				</div>
			</div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
	  <div class="col ispic">
        <img src="/images/CE photo.jpg" alt="CE Photo" />
      </div>
      <div class="col col-text istext">
        <div class="padding--bottom" style="font-size:90%;">
			<h3 class="blackcolour padding--bottom"><b>Chief Executive's Foreword</b></h3>
			Dear Home Team colleagues and valued partners,
			<br><br>
			On behalf of the Home Team Academy (HTA), I would like to thank you for taking time to view
			our Workplan Seminar 2020 microsite.  
			<br><br>
			The ongoing Coronavirus Disease 2019 (COVID-19) situation has reinforced the need for us to 
			always be prepared in a volatile, uncertain, complex and ambiguous (VUCA) environment. This 
			is where our investment in training, such as in the areas of crisis management, leadership 
			development, incidence responses and operating as one Home Team (HT), are put to the test. In 
			this regard, the HT and HTA have risen well to the challenges. For example, HTA officers, with
			the support of our HT counterparts, have provided strong support for the Whole-of-Government 
			(WOG) efforts to manage the spread of COVID-19 since 30 January 2020. We did the extraordinary 
			by being the first government agency to operate a Government Quarantine Facility, housing for 
			relocated migrant workers and a Dormitory Isolation Facility concurrently within HTA’s premises, 
			while playing our role as the Corporate University of the HT. HTA and the HT will continue to 
			drive Training & Learning (T&L) amid a ‘new normal’.
			<div class="row has-text-centered margin--top padding--bottom">
				<div class="col is-offset-one-third is-one-third">
					<a href="/CE_Address" class="blackcolour bp-sec-button">
						<div>
							<span>Read More</span>
							<i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
						</div>
					</a>
				</div>
			</div>
        </div>
		</div>
      
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only desktop-padding">
	  <div class="col ispic">
        <img src="/images/CE photo.jpg" alt="CE Photo">
      </div>
      <div class="col col-text istext">
        <div class="padding--bottom" style="font-size:100%;">
			<h3 class="blackcolour padding--bottom"><b>Chief Executive's Foreword</b></h3>
			Dear Home Team colleagues and valued partners,
			<br><br>
			On behalf of the Home Team Academy (HTA), I would like to thank you for taking time to view
			our Workplan Seminar 2020 microsite.  
			<br><br>
			The ongoing Coronavirus Disease 2019 (COVID-19) situation has reinforced the need for us to 
			always be prepared in a volatile, uncertain, complex and ambiguous (VUCA) environment. This 
			is where our investment in training, such as in the areas of crisis management, leadership 
			development, incidence responses and operating as one Home Team (HT), are put to the test. In 
			this regard, the HT and HTA have risen well to the challenges. For example, HTA officers, with
			the support of our HT counterparts, have provided strong support for the Whole-of-Government 
			(WOG) efforts to manage the spread of COVID-19 since 30 January 2020. We did the extraordinary 
			by being the first government agency to operate a Government Quarantine Facility, housing for 
			relocated migrant workers and a Dormitory Isolation Facility concurrently within HTA’s premises, 
			while playing our role as the Corporate University of the HT. HTA and the HT will continue to 
			drive Training & Learning (T&L) amid a ‘new normal’.
			<div class="row has-text-centered margin--top padding--bottom">
				<div class="col is-offset-one-third is-one-third">
					<a href="/CE_Address" class="blackcolour bp-sec-button">
						<div>
							<span>Read More</span>
							<i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
						</div>
					</a>
				</div>
			</div>
        </div>
      </div>
      
    </div>
  </div>
</section> -->


<!-- <section class="bp-section bg-hero-bottom">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
        <h1 class="padding--bottom"><b>Year in Review Video</b></h1>
        <a href="https://youtu.be/_wXTBBM9KF8" target="_blank">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Watch Here
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="bp-section bg-newssection">
    <div class="bp-container is-fluid">
        <div class="row">
            <div class="col is-half is-offset-one-quarter has-text-centered padding--top--xl">
				<h1 class="blackcolour padding--bottom"><b>Learn, Serve and Excel <br/>as One Home Team</b></h1>
				<p>
					HTA and the HT Training Community take pride in adding value to achieve the Home Team's mission 
					through training. We work closely with one another to equip and develop future-ready HT officers.

				</p>
			</div>
        </div>
    </div>
	<div class="row has-text-centered margin--top padding--bottom">
        <div class="col is-offset-one-third is-one-third">
			<a href="/ONE HOME TEAM- Learn, Serve and Excel Together" class="blackcolour bp-sec-button">
                <div>
                    <span>Learn More</span>
                    <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</section> -->