---
layout: skeleton
---
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<section class="bp-section bg-hero home-section-padding">
    <div class="bp-container">
        <div class="row is-vcentered is-centered">
            <div class="col is-9 has-text-centered has-text-sky">
                <h1 class="hero-content-h1 display has-text-sky padding--bottom--lg margin--none">
                    <b>Welcome to LearnX</b>
                </h1>
                <p class="hero-content-p has-text-sky">LearnX is a new platform that lets you dive into topics you’ve always wanted to explore. Whatever your motivation—personal development, being better informed about the world or simply wanting to learn something new—we have something for everyone. Customise your learning journey by making use of our curated content, learning pathways and communities.</p>
            </div>
        </div>
    </div>
</section>

<section class="bp-section home-section-padding is-sky">
    <div class="bp-container">
        <div class="row is-vcentered is-centered">
            <div class="col is-9 has-text-centered">
                <div class="about-lab25-content">
                    <p class="padding--bottom"><img src="/images/home/logo-lab25-row-1.png" class="logo-lab25" alt="LAB25"></p>
                    <p class="has-text-primary">LearnX is part of the National Library Board’s Learning and Archives Blueprint 2025 (LAB25) plan to reimagine libraries in Singapore. To learn more about LAB25, <a href="https://www.nlb.gov.sg/WhoWeAre/AboutUs/AboutLAB25.aspx" target="_blank">click here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullwidth-container">
    <!-- Carousel -->
    <div class="is-position-relative">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide height-auto is-indigo">
                  <div class="bp-container">
                    <div class="home-carousel">
                      <div class="home-carousel-content has-text-sky">
                        <div class="is-block margin--bottom--lg">
                            <h6 class="margin--bottom--lg is-uppercase">LearnX Digital</h6>
                            <h3><b>Keep up with changing digital trends and technology through easy-to-understand and accessible content.</b></h3>
                        </div>
                        <div class="is-block">
                          <a href="/digital/overview" class="bp-button is-sky-outline is-uppercase">Learn More</a>
                        </div>
                      </div>
                      <div class="home-carousel-image align-top">
                        <img src="/images/home/home-slider-digital-1.jpg" class="" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide height-auto  is-ruby">
                  <div class="bp-container">
                    <div class="home-carousel">
                      <div class="home-carousel-content has-text-pink">
                        <div class="is-block margin--bottom--lg">
                            <h6 class="margin--bottom--lg is-uppercase">LearnX Careers</h6>
                            <h3><b>Perfect for professionals, small businesses and entrepreneurs looking to take the next step.</b></h3>
                        </div>
                        <div class="is-block">
                            <a href="/careers/overview" class="bp-button is-pink-outline is-uppercase">Learn More</a>
                        </div>
                      </div>
                      <div class="home-carousel-image align-bottom">
                        <img src="/images/home/home-slider-careers-1.jpg" class="" alt="">
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="swiper-slide height-auto is-jade">
                  <div class="bp-container">
                    <div class="home-carousel">
                        <div class="home-carousel-content has-text-sky">
                            <div class="is-block margin--bottom--lg">
                              <h6 class="margin--bottom--lg is-uppercase">LearnX Sustainability</h6>
                              <h3><b>If you’ve been toying with the idea of living sustainably but don’t know where to start, you’ve come to the right place.</b></h3>
                            </div>
                            <div class="is-block">
                              <a href="/sustainability/overview" class="bp-button is-mint-outline is-uppercase">Learn More</a>
                            </div>
                        </div>
                        <div class="home-carousel-image align-top">
                          <img src="/images/home/home-slider-sustainability-1.jpg" class="" alt="">
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-btn-next"></div>
        <div class="swiper-btn-prev"></div>
      </div>
      <!-- /.Carousel -->
</section>

<section class="bp-section home-section-padding is-mint">
    <div class="bp-container">
        <div class="row">
            <div class="col is-half is-offset-one-quarter has-text-centered">
                <h2 class="has-text-primary padding--bottom"><b>Learning is a lot more fun when you have like-minded people to share and grow with.</b></h2>
            </div>
        </div>
    </div>
    <div class="row has-text-centered margin--top">
        <div class="col is-half is-offset-one-quarter">
            <a href="/communities/overview" class="bp-sec-button btn-primary">
                <div>
                    <span>Explore Communities</span>
                    <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="bp-section home-section-padding is-indigo">
    <div class="bp-container">
        <div class="row">
            <div class="col is-half is-offset-one-quarter has-text-centered">
                <h2 class="has-text-sky padding--bottom"><b>Partners</b></h2>
                <p class="padding--bottom"><img src="/images/home/logo-nyp-white.png" class="logo-nyp-white" alt="NYP"></p>
                <p class="has-text-sky">NLB and Nanyang Polytechnic (NYP) are partnering to co-develop the learning focus areas—Digital, Careers, Sustainability, Arts, Wellness, Science, Reading and Singapore. NYP will also introduce free taster programmes in public libraries, starting from November 2021.</p>
            </div>
        </div>
    </div>
    <!-- <div class="row has-text-centered margin--top">
        <div class="col is-half is-offset-one-quarter">
            <a href="#" class="bp-sec-button btn-sky">
                <div>
                    <span>Learn More</span>
                    <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div> -->
</section>
<script src="/javascript/home-script.js"></script>